@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Kanit:wght@500&family=Lato:wght@700&family=Roboto:ital,wght@0,500;1,400&family=Ubuntu&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;


}

body {
    height: 50vh;
    width: 50%;
    background-image: linear-gradient(120deg, #151717 0%, #231232 100%);

    color: white;
}

.container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(15, 15, 23);
    display: block;
    padding: 50px;
    border-radius: 19px;
    box-shadow: 20px;

}
