body{
  color: aqua;
}
nav {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    font-size: 17px;

}
img{
    height: 50%;
    width: 50%;
}


nav ul {
    list-style: none;
    display: flex;
    position: relative;
    
  
  }

.main{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(15, 15, 23);
   
    display: block;
    padding: 200px ;
    
    color: white;
    border-radius: 9px;
    box-shadow: 20px;
    margin-top: 50px;
    margin-bottom: 300px;

}

.main .txt{
  color: white;
}
/*   
  nav ul li a {
    margin: 16px;
    font-size: 28px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-right: 40px;
    
  }
  
  nav ul a:hover {
    color: wheat;
  } */

  