nav {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    font-size: 17px;

}
img{
    height: 50%;
    width: 50%;
}


nav ul {
    list-style: none;
    display: flex;
    position: relative;
    
  
  }
/*   
  nav ul li a {
    margin: 16px;
    font-size: 28px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-right: 40px;
    
  }
  
  nav ul a:hover {
    color: wheat;
  } */

  