body{
  color: aqua;
}
nav {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    font-size: 17px;

}
img{
    height: 50%;
    width: 50%;
}


nav ul {
    list-style: none;
    display: flex;
    position: relative;
    
  
  }

.main{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(15, 15, 23);
   
    display: block;
    padding: 100px ;
    
    color: white;
    border-radius: 9px;
    box-shadow: 20px;
    margin-top: 50px;
    margin-bottom: 300px;

}

.main .txt{
  color: white;
}
.name {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: large;
  background-color: rgb(4, 24, 25);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: none;
  border-color: black;
}


.data {
  display: grid;
  line-height: 5vh;
  font-size: 22px;
  margin: 40px 0;
}

.btn button {
  width: 160px;
  height: 50px;
  border-radius: 20px;
  border-style: none;

  background-color: #965fc7;
  color: rgb(253, 255, 255);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn button:hover {
  background-color: rgb(88, 47, 190);
  transition: 0.3s;

}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.his{
  position: relative;
    top: 30px;

}
.his a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: right;
  font-size: 20px;
  justify-content: right;
  cursor: pointer;
}

  