nav {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-size: 20px;
    color: white;

}


nav ul {
    list-style: none;
    display: flex;
    padding: 20px;
    

}

nav ul a {
    margin: 16px;
    font-size: 28px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}